{% load static %}
<style>
    /* Adjustments for sidenav */
    
    .sidenav {
      width: 250px;
      height: 100%;
      background-color: rgb(13, 15, 13);
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 20px; /* Adjust as needed */
    }
  
    
    /* Adjustments for table */
    table {
      width: 100%; /* Ensure table takes full width */
      margin-top: 20px; /* Adjust as needed */
    
    }
  
    th,
    td {
      width: 16.67%; /* Equal width for each column */
      padding: 10px; /* Adjust as needed */
      text-align: center;
      
    }
  
    /* Adjustments for user details heading */
    .head {
      text-align: center;
      color: darkred;
      font-size: 30px;
      margin-top: 50px; /* Adjust as needed */
    }
  
    /* Other styles remain the same */
    h2{
      color:aquamarine;
    }
    .link{
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 20px;
  
    }
    .pic{
      width:150px;
      height:150px;
      border-radius: 50%;
    }
    * {
      box-sizing: border-box;
    }
    body {
      background-color: #fdb;
      color: #fa0;
    }
    h2 {
      text-align: center;
    }
    @media (max-width: 600px) {
      h2 {
        font-size: 18px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    @media (max-width: 600px) {
      p {
        font-size: 12px;
      }
    }
    table {
      display: table;
      width: 80%;
      margin: auto;
      background-color: black;
      
    }
    tr {
      background-color: #555;
      border-collapse: none;
    }
    tr:nth-child(odd) {
      background-color: #777;
      border-collapse: none;
    }
    th {
      width: 33.33%;
      padding: 5px 10px;
      background-color: #333;
      color: #fff;
    }
    td {
      width: 33.33%;
      padding: 5px 10px;
      text-align: center;
    }
    @media (max-width: 600px) {
      table {
        width: 80%;
      }
      th {
        display: none;
      }
      td {
        display: block;
        width: 100%;
        min-height: 40px;
        border-bottom: 1px solid #000;
      }
    }
    .select {
      position: relative;
      left: 50%;
      transform: translatex(-50%);
      width: 60px;
      padding: 5px;
      background-color: #fa7;
      color: #000;
      font-weight: 700;
      border: 1px solid #000;
      border-radius: 6px;
      text-align: center;
    }
    .select:active {
      background-color: #f96;
    }
    .details {
      display: none;
      width: 80%;
      min-height: 85vh;
      padding: 10px;
      margin: 10px auto;
      background-color: #d00;
      border: 1px solid #000;
      border-radius: 10px;
      color: rgb(98, 73, 22);
    }
    @media (max-width: 600px) {
      .details {
        width: 80%;
      }
    }
    #close {
      float: right;
      display: block;
      width: 100px;
      height: 50px;
      background: transparent;
      border: 2px solid #fa0;
      color: rgb(118, 95, 48);
      font-size: 20px;
      font-weight: 700;
    }
    @media (max-width: 600px) {
      #close {
        width: 75px;
        height: 35px;
        font-size: 15px;
        font-weight: 700;
      }
    }
    .notes {
      width: 500px;
      margin: auto;
      padding: 10px;
      border: 1px solid #fa0;
      font-size: 16px;
    }
    @media (max-width: 600px) {
      .notes {
        width: 90%;
        font-size: 12px;
      }
      .notes h2 {
        font-size: 18px;
      }
    }
    a.website {
        position: absolute;
        bottom: 10px;
        right: 10px;
        -webkit-text-decoration: none;
        text-decoration: none;
        padding: 5px 20px;
        background-color: #ffffff;
        border: 3px solid #80a0c0;
        color: #6080a0;
    }
    .btn{
        background-color: lightcoral;
        border-color: lightcoral;
        
    }
    .ed{
        color:white;
        text-decoration: none;
    }
  </style>
  
  <body>
  <div class="sidenav">
      <br>
      <h2>Welcome Admin</h2>
      <br>
      <img src="{% static 'assets/img/Admin.jpg' %}"class="pic">
      <br>
      <br>
      <a href="/AdminApp/Adminhome"class="link">Home</a>
      <br>
      <br>
      <a href="/AdminApp/userview"class="link">User View</a>
      <br>
      <br>
      <a href="/AdminApp/driverview"class="link">Driver View</a>
      <br>
      <br>
      <a href="/AdminApp/vehicleview"class="link">Vehicle View</a>
      <br>
      <br>
      <a href="/AdminApp/Auction_view"class="link">Auction</a>
      <br>
      <br>
      <a href="/AdminApp/adminbid_view"class="link">Bid View</a>
      <br>
      <br>
      <a href="/AdminApp/adminbid_result"class="link">Bid Result</a>
  </div>
  <h2 class="head">Auction Details</h2>
  <form action="/AdminApp/auction_end" method="post">
    {% csrf_token %}
    <table id="usertab" style="margin-left:250px;">
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Seller Name</th>
        <th>Goods Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Basic</th>
        <th>Ended</th>
        <th>Action</th>
      </tr>
      {% for auction in data %}
      <tr>
        <td>{{ auction.start_time }}</td>
        <td>{{ auction.end_time }}</td>
        <td>{{ auction.seller }}</td>
        <td>{{ auction.goods_name }}</td>
        <td>{{ auction.goods_description }}</td>
        <td><img src="{{ auction.goods_image.url }}" style="width:150px;height:150px;"></td>
        <td>{{ auction.basic }}</td>
        <td><input type="checkbox" name="ended_{{ auction.id }}" {% if auction.ended %}checked{% endif %}></td>
        <td><button type="submit">Submit</button></td>
      </tr>
      {% endfor %}
    </table>
  </form>
  
  </body>